<div id="footer-margin-left"></div>
<footer>
  <div id="footer-left" class="footer-section">
    <p>The Tuft framework, this website, and all content therein are copyright &copy; 2020 under the terms of the <a href="https://github.com/tuftjs/tuft/blob/master/LICENSE" target="_blank">MIT License</a>.</p>
  </div>
  <div id="footer-right" class="footer-section">
    <p>Hosted by <a href="https://pages.github.com" target="_blank">GitHub Pages</a>.</p>
  </div>
</footer>
<div id="footer-margin-right"></div>
