<footer>
  <p>
    The Tuft framework, this website, and all content therein are copyright <span class="copyright">&copy; 2020</span> under the terms of the <a href="https://github.com/tuftjs/tuft/blob/master/LICENSE" target="_blank">MIT License</a>.
  </p>
  <p>
    Hosted by <a href="https://pages.github.com" target="_blank">GitHub Pages</a>.
  </p>
  <p id="github-footer">View the project respository on
    <a href="https://github.com/tuftjs/tuft" target="_blank">GitHub</a>.
  </p>
</footer>
