<div class="header-margin left"></div>
<header>
  <div id="logo">
    <h2>{{ site.data.main.title }}</h2>
    <div id="latest-release-link-container">
      <a href="https://github.com/tuftjs/tuft/releases" target="_blank">
        {{ site.data.main.tuft_version }}</a>
    </div>
  </div>
  <nav id="nav-bar">
    <ul>
      {% for item in site.data.nav.header %}
      <li {% if (page.url == item.link) or (page.docs == true and item.link == "/docs/") %}class="current" {% endif %}>
        <a {% if (page.url == item.link) or (page.docs == true and item.link == "/docs/") %}class="nav-bar-link current"
          {% else %}class="nav-bar-link" {% endif %} href="{{ item.link }}">
          {{ item.name }}
        </a>
      </li>
      {% endfor %}
      <li><a class="nav-bar-link" href="https://github.com/tuftjs/tuft" target="_blank">GitHub&nbsp;<img
            id="github-new-window-image" src="/assets/images/open_in_new-black-18dp.svg" alt="new window"></a></li>
    </ul>
  </nav>
</header>
<div class="header-margin right"></div>
