@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap';

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fff;
  line-height: 1.8rem;
  min-height: 100vh;
}

div#container {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  font-size: 1rem;
}

strong {
  font-weight: 600;
}

blockquote {
  background-color: #3692;
  border-left: 8px solid #369;
  margin: 30px 0;
  padding: 10px 20px;
}

blockquote > h4 {
  margin-top: 10px;
}

h4 {
  font-weight: 600;
}

a {
  color: #369;
  text-decoration: none;
}

a:hover {
  color: #3699;
}

header {
  grid-column: 2 / 3;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.header-margin {
  grid-row: 1 / 2;
}

div.header-margin.left {
  grid-column: 1 / 2;
}

div.header-margin.right {
  grid-column: 3 / 4;
}

div#logo {
  display: flex;
  flex-direction: row;
}

div#logo > h2 {
  font-size: 2rem;
  color: #333;
  margin: 10px;
}

div#latest-release-link-container {
  line-height: initial;
  align-self: center;
  margin-top: 4px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

div#latest-release-link-container > a {
  font-weight: 700;
  font-size: 1rem;
  color: #369;
  text-decoration: underline;
  background-color: #fff;
}

nav#nav-bar {
  align-self: center;
}

nav#nav-bar > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

nav#nav-bar li {
  padding: 0 10px;
}

nav#nav-bar li.current {
  background-color: #369;
  border-radius: 4px;
}

img#github-new-window-image {
  position: relative;
  height: 0.9rem;
  top: 2px;
}

a.nav-bar-link {
  text-decoration: none;
  font-size: 1.1rem;
  color: #369;
}

a.nav-bar-link:hover {
  color: #3699;
}

a.nav-bar-link.current {
  color: #eee;
}

footer {
  grid-column: 2 / 3;
  background-color: #eee;
  font-size: 0.9rem;
  padding: 30px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.footer-section {
  width: 40%;
}

div.footer-section.right {
  text-align: end;
}

div.footer-margin {
  background-color: #eee;
}

div.footer-margin.left {
  grid-column: 1 / 2;
}

div.footer-margin.right {
  grid-column: 3 / 4;
}

main#index {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: grid;
  padding: 15px;
}

div.main-margin {
  grid-row: 2 / 3;
  border-top: 2px solid #369;
}

div.main-margin.index {
  grid-row: 3 / 4;
  border-top: none;
}

div.main-margin.left {
  grid-column: 1 / 2;
}

div.main-margin.right {
  grid-column: 3 / 4;
}

section#intro {
  grid-column: 1 / 4;
  background-color: #333;
  background-image: url(../images/bg.svg); /* background by SVGBackgrounds.com */
  background-attachment: scroll;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

section#intro > h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #eee;
  text-align: center;
  padding: 100px 25px 40px 25px;
}

section#intro > p {
  font-size: 1.6rem;
  font-weight: 300;
  color: #eee;
  text-align: center;
  margin: auto;
  padding: 0 25px 25px 25px;
}

section#intro > div {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

section#intro > div > code {
  background-color: #2227;
  font-size: 1rem;
  color: #fff;
  padding: 4px 18px;
}

section#features {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  margin: 20px 40px;
}

section#features h2 {
  font-weight: 600;
}

div.feature-graphic-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0 20px;
}

div.feature-graphic-container,
div.feature-text-container {
  margin: 30px 0;
}

div.feature-graphic-container > img {
  width: 5rem;
}

div.feature-text-container {
  display: flex;
  align-self: center;
  flex-direction: column;
}

div.feature-text-container > h2 {
  color: #555;
  margin-bottom: 10px;
}

div.feature-graphic-container {
  grid-column: 1 / 2;
}

div.feature-graphic-container.one {
  grid-row: 1 / 2;
}

div.feature-graphic-container.two {
  grid-row: 2 / 3;
  position: relative;
  top: -10px;
}

div.feature-graphic-container.three {
  margin-top: 0;
  grid-row: 3 / 4;
}

div.feature-graphic-container.four {
  grid-row: 4 / 5;
}

div.feature-text-container {
  grid-column: 2 / 6;
}

div.feature-text-container.one {
  grid-row: 1 / 2;
}

div.feature-text-container.two {
  grid-row: 2 / 3;
}

div.feature-text-container.three {
  margin-top: 0;
  grid-row: 3 / 4;
}

div.feature-text-container.four {
  grid-row: 4 / 5;
}

section#get-started-btn {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding-bottom: 50px;
}

section#get-started-btn > a {
  font-size: 1.7rem;
  color: #fff;
  background-color: #369;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 40px;
}

section#get-started-btn > a:hover {
  background-color: rgb(94, 156, 218);
}

main#docs {
  border-top: 2px solid #369;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

section#docs-nav {
  width: 20vw;
}

section#docs-nav h4 {
  margin-top: 20px;
  color: #555;
}

section#docs-nav li {
  list-style: none;
}

section#docs-nav-mobile {
  display: none;
}

section#docs-nav-mobile > select {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  padding: 5px 15px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
}

a.docs-nav-link {
  font-size: 0.9rem;
}

a.docs-nav-link.current {
  font-weight: 700;
}

section#docs-content {
  margin-top: 20px;
  background-color: #eee;
  width: 75vw;
  border-radius: 10px;
  padding: 15px;
}

section#docs-content h1 {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 20px;
}

section#docs-content ol {
  margin: 0px 15px;
}

section#docs-content p,
section#docs-content li {
  font-size: 0.9rem;
}

section#docs-content p {
  padding: 8px 0;
}

.docs-sub-heading {
  font-weight: 600;
  padding: 20px 0 10px 0;
}

code.code-inline {
  background-color: #fff;
  color: #555;
  border: 1px solid #ccc;
  padding: 2px 4px;
  white-space: nowrap;
}

code.http-status {
  font-weight: 700;
}

ul.docs-list {
  list-style: none;
  padding: 10px 30px;
  margin-bottom: 10px;
}

ul.docs-list li::before {
  content: "\2022";
  color: #369;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

h3 code {
  font-size: 1.05rem;
}

h3 code.code-data-type {
  font-size: 0.9rem;
  font-weight: 400;
  color: #777;
  margin-left: 10px;
}

div.api-entry {
  margin: 10px 0 20px 0;
}

div.api-entry > div.api-entry {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: #e2e2e2;
}

main#benchmarks,
main#about {
  border-top: 2px solid #369;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 15px;
}

div#benchmarks-container,
div#about-container {
  background-color: #eee;
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 15px;
}

div#benchmarks-container > h2,
div#about-container > h2 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 40px 0 20px 0;
}

div#about-container > h2 {
  margin: 10px 0 20px 0;
}

div#benchmarks-container > h3,
div#about-container > h3 {
  margin-top: 30px;
  margin-left: 15px;
  font-weight: 600;
}

div#benchmarks-container p,
div#about-container p  {
  margin: 10px 0;
}

div#benchmarks-container span {
  font-weight: 400;
}

@media only screen and (max-width: 1000px) {
  div#container {
    grid-template-columns: 0 100vw 0;
  }

  main#docs {
    grid-template-columns: 20% 75%;
  }
}

@media only screen and (max-width: 830px) {
  section#docs-nav {
    width: 25vw;
  }

  section#docs-content {
    width: 70vw;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 18px;
  }

  div#logo > h2 {
    font-size: 1.25rem;
  }

  a.nav-bar-link {
    font-size: 1rem;
  }

  section#features {
    padding-left: 10px;
    padding-right: 30px;
    margin: 0;
  }

  div#latest-release-link-container > a {
    font-weight: 600;
    font-size: 0.75rem;;
  }

  footer p {
    line-height: 1.5rem;
  }

  section#docs-nav h4 {
    font-size: 0.9rem;
  }

  a.docs-nav-link {
    font-size: 0.8rem;
  }

  div#benchmarks-container > h2,
  div#about-container > h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  body {
    line-height: 1.5rem;
  }

  header {
    flex-direction: column;
  }

  div#logo {
    justify-content: center;
  }

  div#logo > h2 {
    font-size: 2.5rem;
    margin: 15px 0;
  }

  div#latest-release-link-container {
    position: fixed;
    left: 10000px;
  }

  nav#nav-bar {
    margin-bottom: 10px;
  }

  nav#nav-bar > ul {
    width: 96vw;
    justify-content: space-between;
  }

  a.nav-bar-link {
    font-size: 1.2rem;
  }

  footer {
    font-size: 1rem;
  }

  section#intro > h1 {
    display: none;
  }

  section#intro > p {
    margin-top: 75px;
  }

  section#features {
    padding-top: 15px;
    padding-left: 30px;
  }

  div.feature-graphic-container {
    display: none;
  }

  div.feature-text-container {
    grid-column: 1 / 6;
    margin: 15px 0;
  }

  main#docs {
    flex-direction: column;
  }

  section#docs-nav {
    display: none;
  }

  section#docs-nav-mobile {
    display: block;
  }

  section#docs-content {
    width: unset;
  }

  section#docs-content p,
  section#docs-content li {
      font-size: 1rem;
  }

  div#benchmarks-container > h2,
  div#about-container > h2 {
    font-size: 2rem;
  }

  div#benchmarks-container,
  div#about-container {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 520px) {
  div#container {
    font-size: 0.75rem;
  }

  a.nav-bar-link {
    font-size: 0.85rem;
  }

  footer {
    font-size: 0.75rem;
    flex-direction: column;
  }

  div.footer-section {
    width: 100%;
    text-align: center;
  }

  div.footer-section.right {
    margin-top: 25px;
    text-align: center;
  }

  section#intro > h1 {
    display: none;
  }

  section#intro > p {
    font-size: 1rem;
    margin-top: 50px;
  }

  section#intro > div {
    margin-bottom: 50px;
  }

  section#intro > div > code {
    font-size: 0.7rem;
    padding: 0 8px;
  }

  section#features {
    padding-top: 15px;
    padding-left: 30px;
  }

  div.feature-graphic-container {
    display: none;
  }

  div.feature-text-container {
    grid-column: 1 / 6;
    margin: 15px 0;
  }

  h2 {
    font-size: 1.2rem;
  }

  section#get-started-btn {
    padding-bottom: 10px;
}

  section#get-started-btn > a {
    font-size: 1.2rem;
    padding: 10px 20px;
  }

  code.code-inline {
    white-space: unset;
  }

  code[class*="language-"],
  pre[class*="language-"] {
    font-size: 0.7rem !important;
  }

  section#docs-content h1 {
    font-size: 1.2rem;
  }

  section#docs-content p,
  section#docs-content li {
    font-size: 0.75rem;
  }

  h3 code {
    font-size: 0.85rem;
  }

  div#benchmarks-container > h2,
  div#about-container > h2 {
    font-size: 1.2rem;
  }

  div#benchmarks-container,
  div#about-container {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 400px) {
  nav#nav-bar li {
    line-height: 1.3rem;
  }

  a.nav-bar-link {
    font-size: 0.7rem;
    margin: 4px;
    line-height: unset;
  }

  img#github-new-window-image {
    width: 12px;
    position: relative;
    top: 4px;
  }

  footer {
    font-size: 0.6rem;
    flex-direction: column;
  }

  div#benchmarks-container > h2,
  div#about-container > h2 {
    font-size: 1rem;
  }

  div#benchmarks-container,
  div#about-container {
    font-size: 0.75rem;
  }
}
